* {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    /* Font size scales with the viewport width */
}

body {
    margin: 0;
    padding: 0;
    background-image:url("wood.jpg");
}

span#status {
    
    font-size: 1vw;width:20vw;display:block;
}
#listeningStatus {
   
        display: inline-flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: space-between;
    margin-bottom: 2vh;
    position: fixed;
    z-index: 999999;
    background: #ffffff;
    padding: 1vw;
    border-radius: 0vw;
    left: 0;
    top: 0vw;
    margin: 0vw;
    backdrop-filter: blur(7px);
    border: 1px solid #ccc;
}
.commands {
    font-size:1vw;
    padding-right:1vw;
}
button {
    cursor: pointer;
    border-radius: 0.5vw;
    border: 0.1vw solid currentColor;
    padding: 0.2vw;
    /* Font size for buttons */
    background-color: transparent;
    font-size: 1vw;
}

input:focus, input:active, input:focus-visible, .single:focus-visible, .single:focus, .single:active {
    outline: 0;
    border-bottom: 1px solid currentColor;
}

.single {

    position: relative;
    border-top-right-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    border-bottom: 0.001vh solid #9198e5;
    border-bottom-right-radius: 5px;
    margin-bottom: 0.4vh;
    
    color: #00085c;
}




.note {
    border: 0.1vw solid #ccc;
    border-bottom: 0.1vw solid blue;
    border-radius: 0.8vw;
    background-color: #ffffff;
    min-height: 5vh;
    /* Minimum height */
    overflow-y: auto;
    max-height: 30vh;
    /* Maximum height */
}


.chevron {
    width: 2vw;
    height: 2vw;
}

.controls {
    z-index: 9;
    display: inline-flex;
    align-items: center;
}
 

.delete::after {
    content: "\1F5D1";
}

.single:hover .delete {
    display: block !important;
    position:absolute;
    right:0vh;
    border:0px solid black;
}


.single:hover::before {
    content: attr(data-datetime);
    position: absolute;
    /* left: -2vw; */
    display: block;
    font-size: 0.8vw;
    color: #9198e5;
    transform: rotate(-90deg) translate(34px, -74px);
    left: 0vw;
}
 

.paper {
    
    margin: 1vw;
    margin-top:6vw;
    box-shadow: 0.2vw 0.2vw 0.9vw rgba(0, 0, 0, 0.3);
    background-color: #fdfde8;
    border-radius: 0.5vw;
    border: 0.1vw solid #ccc;
    position: relative;
}

.sheet {
    background-color: #fdfde8;
    /*  background: repeating-linear-gradient(#fdfde8, #fdfde8 1.7vw, #9198e5 1.8vw, #9198e5 1.81vw); */

    min-height: 25vh;
}

 

.center {
    text-align: center;
    /* Center text font size */
    font-weight: bold;
}

#manualNoteInput {
    background: transparent;
    border: 0;
    width: -webkit-fill-available;
    /* Input font size /
         padding-left: 1vw; / Left padding /
         line-height: 1.5vw; / Line height for better readability */
}



.addnote {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.shm {
    border-radius: 0.5vw;
    padding: 2%;
    background: #fdfde8;
    padding-bottom: 6vh;
}

.download { 
    position: absolute;
    bottom: 2vh;
    bottom: 2vh;
    right: 2vh;
}

 
.add-trigger {
    min-width:1.8VW;
/* Define colors for each voice trigger */
}

.sheet .note-mel {
    border-right: 0.2vw solid #ffd000;
}
#listeningStatus.note-mel {
color:#ffd000;
}
.sheet .note-mel:focus {
    color: #ffd000;
}

/* Light red for "měl bych" */
.sheet .note-musi {
    border-right: 0.2vw solid #ce00ff;
}
#listeningStatus.note-musi {
color:#ce00ff;
}
.sheet .note-musi:focus {
    color: #ce00ff;
}



/* Light blue for "musím" */
.sheet .note-mela {
    border-right: 0.2vw solid #ff0000;
}
#listeningStatus .note-mela {
color: #ff0000;
}
.sheet .note-mela:focus {
    color: #ff0000;
}

/* Light green for "měla bych" */
.sheet .note-musime {
    border-right: 0.2vw solid #000000;

}
#listeningStatus.note-musime {
color: #000000;
}
.sheet .note-musime:focus {
    color: #000000;
}

/* Light orange for "měli bysme" */
.sheet div.note-melibychom {
    border-right: 0.2vw solid #0099ff;
}
#listeningStatus.note-melibychom {
color: #0099ff;
}

.sheet .note-melibychom:focus {
    color: #0099ff;
}

/* Light yellow for "musíme" */
.sheet .note-melibysme {
    border-right: 0.2vw solid #bf6300;
}
#listeningStatus.note-melibysme {
color: #bf6300;
}

.sheet .note-melibysme:focus {
    color: #bf6300;
}

.inline-flex .note-mel {
    background: #ffd000;
    color: #ffd000;
}
#listeningStatus.note-mel {
color: #ffd000;
}

.inline-flex .note-musi {
    background: #ce00ff;
    color: #ce00ff;
}
#listeningStatus.note-musi {
color:#ce00ff;
}
.inline-flex .note-mela {
    background: #ff0000;
    color: #ff0000;
}
#listeningStatus.note-mela {
color:#ff0000;
}
.inline-flex div.note-musime {
    background: #000000;
    color: #000000;
}

.inline-flex .note-melibysme {
    color: #bf6300;
    background: #bf6300;
}



.inline-flex .note-melibychom {
    background: #0099ff;
    color: #0099ff;
}

.inline-flex {
    display: inline-flex;
}

.inline-flex div {
    text-align: center;
    margin-right: 0.2vw;
    transition: all 0.5s linear;
    width: 1.2vw;
    padding: 0.2vw;
    display: block;
    height: 1.2vw;
    font-size: 1vw;
    overflow: hidden;
    border: 1px solid currentColor;
    border-radius: 0.2vw;
}

.inline-flex div:hover {
    transition: all 0.5s linear;
    width: 8vw;
    background: transparent;
    border: 1px solid currentColor;
    box-shadow: 0.2vw 0.2vw 0.9vw currentColor;

}
